@using GameStore.Data.Models
@model GameStore.Data.Models.Comment
@inject UserManager<Account> UserManager
<li class="mb-4 pl-3 pr-3">
    <div class="card">
        <div class="card-header">
            <span class="badge badge-pill badge-dark float-left">Posted On: @Model.TimeStamp</span>
            @if (await UserManager.IsInRoleAsync(Model.Account, "Admin"))
            {
                <span class="badge badge-pill badge-danger float-right ml-1">Admin Post</span>
            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Products" asp-action="RemoveComment" asp-route-id="@Model.Id" asp-route-productId="@Model.ProductId" class="badge badge-pill badge-danger float-right">
                    <i class="fas fa-times"></i>
                </a>
            }
        </div>
        <div class="card-body d-flex text-truncate">
            <div class="col-md-2 float-left pl-0 text-truncate clearfix">
                @if (await UserManager.IsInRoleAsync(Model.Account, "Admin"))
                {
                    <div class="col-md-12 text-center pl-0 pr-0">
                        <span class="badge badge-pill badge-danger text-truncate">@@@Model.Account.UserName</span>
                    </div>
                }
                else
                {
                    <div class="col-md-12 text-center pl-0 pr-0">
                        <span class="badge badge-pill badge-primary text-truncate">@@@Model.Account.UserName</span>
                    </div>
                }
                <img class="float-left align-self-start rounded img-fluid" src="~/images/avatars/@(Model.Account.AvatarImageName ?? "default.jpg")" alt="@Model.Account.UserName"/>
            </div>
            <hv></hv>
            <p class="col-md-10 small">
                @Model.Text
            </p>
        </div>
    </div>
</li>