@using GameStore.Data.Models
@using Microsoft.AspNetCore.Identity
@using GameStore.Web.Models
@model ProductListingViewModel
@inject SignInManager<Account> SignInManager

 
<div class="container">
    
    <div class="row justify-content-center">

        <div class="card col-lg-8 pl-0 pr-0">
            <div class="card-header text-center">
                Featured
            </div>
            <div class="card-body text-center">
                <img src="~/images/products/@(Model.ImageName ?? "card.png")" class="img-thumbnail img-fluid" alt="@Model.Name">
            </div>
            <hr />
            <div class="card-body pt-0">
                <div class="card-text text-justify">
                    <div class="alert alert-primary" role="alert">
                        <h4 class="d-inline">@Model.Name</h4><span class="badge badge-pill badge-success ml-2">$@Model.Price</span>
                        <hr />
                        <h5 class="alert-heading">Description</h5>
                        <i>@Model.Description</i>
                        <hr />
                        <h5 class="alert-heading">Genres</h5>
                        <span>
                            @if (Model.Genres.Any())
                            {
                                foreach (var genre in Model.Genres)
                                {
                                    <span class="badge badge-pill badge-primary">@genre</span>
                                }
                            }
                            else
                            {
                                <span class="badge badge-pill badge-primary">None</span>
                            }
                        </span>
                        <hr/>
                        <h5 class="alert-heading">Publisher</h5>
                        <i>@Model.Publisher</i>
                    </div>
                </div>
                
                @if (User.IsInRole("Admin"))
                {
                    <div class="float-left">
                        <a asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger"><i class="fas fa-edit"></i> Edit Product</a>
                    </div>
                }
                <div class="float-right">
                    <a asp-area="" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Add to Cart</a>
                    <a href="#!" class="btn btn-success"><i class="fas fa-shopping-bag"></i> Buy Now</a>
                </div>
            </div>
            @if (@Model.LastPurchased != null)
            {
                if (DateTime.Now.Subtract(Model.LastPurchased.Value).Days > 0)
                {
                    <div class="card-footer text-muted">
                        Last Purchased: <strong>@DateTime.Now.Subtract(Model.LastPurchased.Value).Days days ago</strong>
                    </div>
                }
                else
                {
                    <div class="card-footer text-muted">
                        Last Purchased: <strong>Few hours ago</strong>
                    </div>
                }
            }
            else
            {

                <div class="card-footer text-muted">
                    Last Purchased: <strong>Not Purchased Yet</strong>
                </div>
            }

            <ul class="list-unstyled">
                <li class="media mb-3">
                    @foreach (var comment in Model.Comments)
                    {
                        @(await Html.PartialAsync("_CommentPartial", comment))
                    }
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <hr />
                <div>
                    @(await Html.PartialAsync("_AddCommentPartial", new AddCommentViewModel() { ProductId = Model.Id }))
                </div>
            }
        </div>
    </div>
</div>