@using GameStore.Data.Models
@using Microsoft.AspNetCore.Identity
@using GameStore.Web.Models
@model ProductListingViewModel
@inject SignInManager<Account> SignInManager

 
<div class="container">
    
    <div class="row justify-content-center">

        <div class="card col-lg-8 pl-0 pr-0">
            <div class="card-header text-center">
                Featured
            </div>
            <div class="card-body text-center">
                <img src="~/images/products/@(Model.ImageName ?? "card.png")" class="img-thumbnail img-fluid" alt="@Model.Name">
            </div>
            <hr />
            <div class="card-body">
                <h4 class="card-title">@Model.Name</h4>
                @if (Model.Genres.Any())
                {
                    <p class="card-text text-justify">
                        Genres: @{
                            foreach (var genre in Model.Genres)
                            {
                                <span class="badge badge-pill badge-primary">@genre</span>
                            }
                        }
                    </p>
                }

                <p class="card-text text-justify">Description: @Model.Description</p>

                <a asp-area="" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Add to Cart</a>

                <a href="#!" class="btn btn-primary"><i class="fas fa-shopping-bag"></i> Buy Now</a>
            </div>
            @if (@Model.LastPurchased != null)
            {
                if (DateTime.Now.Subtract(Model.LastPurchased.Value).Days > 0)
                {
                    <div class="card-footer text-muted">
                        Last Purchased: <strong>@DateTime.Now.Subtract(Model.LastPurchased.Value).Days days ago</strong>
                    </div>
                }
                else
                {
                    <div class="card-footer text-muted">
                        Last Purchased: <strong>Few hours ago</strong>
                    </div>
                }
            }
            else
            {

                <div class="card-footer text-muted">
                    Last Purchased: <strong>Not Purchased Yet</strong>
                </div>
            }

            <ul class="list-unstyled">
                <li class="media mb-3">
                    @foreach (var comment in Model.Comments)
                    {
                        @(await Html.PartialAsync("_CommentPartial", comment))
                    }
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                <hr />
                <div>
                    @(await Html.PartialAsync("_AddCommentPartial", new AddCommentViewModel() { ProductId = Model.Id }))
                </div>
            }
        </div>
    </div>
</div>